<% wrap_layout :layout do %>
  <div class="blog_container" itemscope itemtype="http://schema.org/BlogPosting">

    <a id="back" href="/#blog" title="Back to home"></a>


    <h1>
      <%= data.page.title %>
      <div class="blog-date">
        (<%= data.page.date.strftime('%m/%d/%Y') %>)
      </div>

      <meta itemprop="author" content="<%= $my_name %>">
      <meta itemprop="url" content="http://briananders.net<%= current_page.url %>">
      <meta itemprop="name" content="<%= data.page.title %>">
      <meta itemprop="datePublished" content="<%= data.page.date.strftime('%m/%d/%Y') %>">

      <a href="/" title="<%= $my_name %>" class="author"><%= $my_name %></a>
    </h1>

    <%= yield %>

    <% if data.page.tags == "Story" %>
      <div clas="disclaimer">
        &ast;&nbsp;Not all of these stories are mine, some are from family members.
      </div>
    <% end %>
  </div>

  <%= partial "partials/social" %>
<% end %>