<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=en><![endif]--> 
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=en><![endif]--> 
<!--[if IE 8]><html class="no-js lt-ie9" lang=en><![endif]--> 
<!--[if IE 9]><html class="no-js ie9" lang=en><![endif]--> 
<!--[if gt IE 9]><!--> <html class=no-js lang=en> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name=description content="Brian Anders's Website"> 
    <meta name=author content="Brian Anders">     
    <meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" />
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <link rel="shortcut icon" href="/favicon.ico" />
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Brian Anders" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  
  <body class="<%= page_classes %> <%= data.page.classes %>">
    <aside class="links">
      <a class="twitter" target="blank" href="https://twitter.com/imBrianAnders">@imBrianAnders</a>
      <a class="google-plus" target="blank" href="https://plus.google.com/103609977209431639131/posts">Google+</a>
      <a class="facebook" target="blank" href="https://www.facebook.com/anders.brian">Facebook</a>
      <a class="linkedin" target="blank" href="http://www.linkedin.com/profile/view?id=55731958">LinkedIn</a>
      <a class="imdb" target="blank" href="http://www.imdb.com/user/ur23740510/">IMDb Profile</a>
      <a class="github" target="blank" href="https://github.com/briananders">Github</a>
      <a class="lastfm" target="blank" href="http://www.last.fm/user/iBrianAnders">Last.FM</a>
      <div></div>
    </aside>
    <div class="container">
      <nav>
        <a class="index" href="/">Media</a>
        <a class="work" href="/work/">Work</a>
      </nav>
      <header id="header">
        <h1 class="brian-anders">Brian Anders</h1>
        <div class="profile">
          <a class="profile-link"></a>
        </div>
      </header>
      <div class="content">
        <a class="nav">
          <div>
            <%= image_tag "/images/social/twitter.png", :alt=>'twitter image'%>
          </div>
          <div>
            <%= image_tag "/images/social/google+.png", :alt=>'google+ image'%>
          </div>
          <div>
            <%= image_tag "/images/social/fb.png", :alt=>'fb image'%>
          </div>
          <div>
            <%= image_tag "/images/social/linkedin.png", :alt=>'linkedin image'%>
          </div>
          <div>
            <%= image_tag "/images/social/imdb.png", :alt=>'imdb image'%>
          </div>
          <div>
            <%= image_tag "/images/social/github.png", :alt=>'github image'%>
          </div>
          <div>
            <%= image_tag "/images/social/lastfm.png", :alt=>'lastfm image'%>
          </div>
        </a>

        <%= yield %>

        <footer class="foot">
          <a href="/about/">See how the site works.</a>
          &#169; 2013 - Brian Anders
        </footer>
      </div>
    </div>

    <%= javascript_include_tag "all" %>
  </body>
</html>