<div class="blog-articles">
  <h1>Articles</h1>
  <ol>
    <% blog.articles.each do |article| %>
      <li><%= link_to article.title, article %> <span>(<%= article.date.strftime('%b %e, %Y') %>)</span></li>
    <% end %>
  </ol>
</div>
<div class="blog-tags">
  <h1>Tags</h1>
  <ol>
    <% blog.tags.each do |tag, articles| %>
      <li><%= link_to tag, tag_path(tag) %> (<%= articles.size %>)</a></li>
    <% end %>
  </ol>
</div>
<div class="blog-year">
  <h1>By Year</h1>
  <ol>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
      <li><%= link_to year, blog_year_path(year) %> (<%= articles.size %>)</a></li>
    <% end %>
  </ol>
</div>