---
title:
description:
type: "profile"
---

<section class="about-me">
  <h2>Thanks for swinging by</h2>
  <p>
    I am a User Experience Engineer/Web Developer at <a href="http://www.google.com">Google</a> via <a href="https://www.nest.com" target="_Blank">Nest</a>. I spend my days building the future of technology and my nights dreaming about it.
  </p>
  <p>
    I am a lover of the arts: design, music, and film. Below you can see my current interests in these areas. Enjoy!
  </p>
</section>

<section class="instagram">
  <h2><a target="_blank" href="http://instagram.com/briananders">Instagram</a></h2>
  <spinner id="instagram-spinner"></spinner>
</section>

<section class="albums">
  <h2><a target="_blank" href="http://www.last.fm/user/iBrianAnders">Last.fm</a></h2>
  <spinner id="albums-spinner"></spinner>
</section>

<section class="blog" id="blog">
  <h2>Blog</h2>
  <div>
    <% blog.articles.each_with_index do |article, index| %>
      <% if (index > 0 and index % 2 == 0) %>
        <div class="clearfix"></div>
      <% end %>

      <div class="blog_tile">
        <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
        <time datetime="<%= article.date.strftime('%Y-%m-%d') %>">(<%= article.date.strftime('%m/%d/%Y') %>)</time>
        <%= article.summary %> <a class="dot-dot-dot" href="<%= article.url %>">...</a>
      </div>
    <% end %>
  </div>
</section>