---
title: 
---

<section class="about-me">
  <h2>About Me</h2>
  <p>
    Hi, I'm Brian Anders, Front End Web Developer at <a href="http://www.nest.com">Nest Labs</a>. I love programming and I find it to be a fun and stimulating activity. I recently graduated from <a href="http://www.graceland.edu/">Graceland University</a> in <a href="http://www.lamoni-iowa.com/">Lamoni, IA</a>. My majors were Computer Science/Information Technology and Mathematics with a minor in Web Design. I play the drums and ride a motorcycle. My passions in life are music, movies, and technology. Click the text below to see my current favorites.
  </p>
</section>

<section class="top-albums">
  <h2>Top Album Plays</h2>
  <div class="albums-container">
    <div class="albums">
    </div>
  </div>
</section>

<section class="top-artists">
  <h2>Top Artist Plays</h2>
  <div class="artists-container">
    <div class="artists">
    </div>
  </div>
</section>

<section class="top-tracks">
  <h2>Top Song Plays</h2>
  <div class="tracks-container">
    <div class="tracks">
    </div>
  </div>
</section>

<section class="movies">
  <h2>10 Star Movies</h2>
  <div class="fade-left"></div>
  <div class="movies-container">
    <div class="movies">
      <div class="movie">
        <%= image_tag "/images/movies/fightclub.jpg", :alt=>"fightclub movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/catchme.jpg", :alt=>"catchme movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/dragontattoo.jpg", :alt=>"dragontattoo movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/starwars.jpg", :alt=>"starwars movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/empire.jpg", :alt=>"empirestrikesback movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/return.jpg", :alt=>"returnofthejedi movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/raiders.jpg", :alt=>"raiders movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/lastcrusade.jpg", :alt=>"lastcrusade movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/limitless.jpg", :alt=>"limitless movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/minorityreport.jpg", :alt=>"minorityreport movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/tintin.jpg", :alt=>"tintin movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/inception.jpg", :alt=>"inception movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/drive.jpg", :alt=>"drive movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/snatch.jpg", :alt=>"snatch movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/super8.jpg", :alt=>"super8 movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/vanillasky.jpg", :alt=>"vanillasky movie poster" %>
      </div>
    </div>
  </div>
  <div class="fade-right"></div>
</section>