---
title:
description:
type: "profile"
---

<section class="about-me">
  <p>
    Hey! You've found my website! Welcome!
  </p>
  <p>
    I grew up in <a href="http://www.lamoni-iowa.com/">Lamoni, IA</a>. My dad has a crane business and I was brought up learning that craft. So I know my way around the machinery. I have a deep passion for music; growing up I learned several instr<span>&shy;</span>uments including the violin, piano, and general per<span>&shy;</span>cussion. My favorite instr<span>&shy;</span>ument to play is the drums. My passions also extend to film; I am a big fan of watching movies. In college, I worked at a movie theater that still used film. While there I built and tore down a lot of reels of film; it was a great job. Working at the theater solid<span>&shy;</span>ified my love of cinema. Also, when I was young, my parents started me in Cub Scouts and I went on to become an Eagle Scout. I'm always looking for a chance to get back to the wilderness.
  </p>
  <p>
    I love music. I love movies. I love tech. I love the outdoors. Below are some of my current favorites. Check them out.
  </p>
</section>

<section class="instagram">
  <h2>Instagram</h2>
</section>

<section class="albums">
  <h2>Albums</h2>
</section>

<section class="artists">
  <h2>Artists</h2>
</section>

<section class="top-movies">
  <h2>Movies</h2>
  <div class="movies-container">
    <div class="movies">
      <div class="movie">
        <%= image_tag "/images/movies/fightclub.jpg", :alt=>"fightclub movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/catchme.jpg", :alt=>"catchme movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/dragontattoo.jpg", :alt=>"dragontattoo movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/starwars.jpg", :alt=>"starwars movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/empire.jpg", :alt=>"empirestrikesback movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/return.jpg", :alt=>"returnofthejedi movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/raiders.jpg", :alt=>"raiders movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/lastcrusade.jpg", :alt=>"lastcrusade movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/limitless.jpg", :alt=>"limitless movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/minorityreport.jpg", :alt=>"minorityreport movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/tintin.jpg", :alt=>"tintin movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/inception.jpg", :alt=>"inception movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/drive.jpg", :alt=>"drive movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/snatch.jpg", :alt=>"snatch movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/super8.jpg", :alt=>"super8 movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/vanillasky.jpg", :alt=>"vanillasky movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/game.jpg", :alt=> "game movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/banks.jpg", :alt=> "banks movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/range.jpg", :alt=> "range movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/hunting.jpg", :alt=> "hunting movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/green.jpg", :alt=> "green movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/jurassic.jpg", :alt=> "jurassic movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/jaws.jpg", :alt=> "jaws movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/goodfellas.jpg", :alt=> "goodfellas movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/darkness.jpg", :alt=> "darkness movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/speech.jpg", :alt=> "speech movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/mitty.jpg", :alt=> "mitty movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/shutter.jpg", :alt=> "shutter movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/samuari.jpg", :alt=> "samuari movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/pianist.jpg", :alt=> "pianist movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/forrester.jpg", :alt=> "forrester movie poster" %>
      </div>
      <div class="movie">
        <%= image_tag "/images/movies/up.jpg", :alt=> "up movie poster" %>
      </div>
    </div>
  </div>
</section>